[submodule "ao"]
	path = lib/ao
	url = https://github.com/anderson-optimization/lib-py-ao
[submodule "gams-parser"]
	path = lib/gams-parser
	url = https://github.com/anderson-optimization/gams-parser
